*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.encabezado {
     background-color: rgb(170, 48, 226);
     height: 10vh;
     display: flex;
     justify-content: space-evenly;
}
.cuerpo{
    background-color: palevioletred;
    height: 80vh;
}
.pie-pagina{
    background-color: rgb(107, 131, 209);
    height: 10vh;
}
.logo{
    width: 20%;

}
